In [1]:
import pandas as pd

In [2]:
df_filtered = pd.read_csv('./data/filtered.csv', header=None)
df_filtered.columns = ['text']
df_filtered.head()

                                text
0    I'll send 3 if you send 3 back?
1                            perhaps
2                        perhaps not
3   Sending 4 back to you this round
4  u and me dawg lets win this thing

In [12]:
df_filtered.iloc[547, 0]

'For those interested, the game is ending soon. It would be funny to see everyone turn on cottage cheese, combined yall could do it'

In [4]:
df_filtered['text'] = df_filtered['text'].str.replace(r"[\"']", "", regex=True)

In [13]:
df_filtered.iloc[547, 0]

'For those interested, the game is ending soon. It would be funny to see everyone turn on cottage cheese, combined yall could do it'

In [6]:
df_unfiltered = pd.read_csv('./data/unfiltered.csv', header=None)
df_unfiltered.columns = ['text']
df_unfiltered.head()

                             text
0                         broken?
1  gosh i thought my name was bad
2     We would work well together
3                             Yes
4                             Yes

In [7]:
df_unfiltered['text'] = df_unfiltered['text'].str.replace(r"[\"']", "", regex=True)

In [8]:
df = pd.concat([df_filtered, df_unfiltered])
df.reset_index(drop=True, inplace=True)
df['label'] = [-1] * len(df)
df['submessage_label'] = [-2] * len(df)
df.shape

(26790, 3)

In [18]:
df.to_csv('./data/unlabeled_data.csv', index=False)